# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~
.directory

# Go
/tq
/dist/
/.coverdata/
*.exe
*.test
*.out
vendor/

# Release artifacts
/RELEASE_NOTES.md
